<div class="container">
  <form [formGroup]="lessonForm" (ngSubmit)="onSubmit()">
    <div class="row mt-2">
      <label class="col-md-1" for="title" [ngClass]="{'text-danger': lessonForm.get('title')?.invalid && (lessonForm.get('title')?.dirty || lessonForm.get('title')?.touched)}">Title</label>
      <input id="title" type="text" class="col-md-5" formControlName="title" [ngClass]="{'is-invalid': lessonForm.get('title')?.invalid && (lessonForm.get('title')?.dirty || lessonForm.get('title')?.touched)}">
      <div *ngIf="lessonForm.get('title')?.invalid && (lessonForm.get('title')?.dirty || lessonForm.get('title')?.touched)" class="col-md-6 text-danger">
        Title is required.
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-md-1" for="description" [ngClass]="{'text-danger': lessonForm.get('description')?.invalid && (lessonForm.get('description')?.dirty || lessonForm.get('description')?.touched)}">Description</label>
      <textarea id="description" class="col-11" rows="4" formControlName="description" [ngClass]="{'is-invalid': lessonForm.get('description')?.invalid && (lessonForm.get('description')?.dirty || lessonForm.get('description')?.touched)}"></textarea>
      <div *ngIf="lessonForm.get('description')?.invalid && (lessonForm.get('description')?.dirty || lessonForm.get('description')?.touched)" class="col-md-6 text-danger">
        Description is required.
      </div>
    </div>
    <div class="row mt-2">
      <label class="col-md-1" for="category">Category</label>
      <input id="category" type="text" class="col-md-2" formControlName="category">
      <label class="col-md-1" for="level" [ngClass]="{'text-danger': lessonForm.get('level')?.invalid && (lessonForm.get('level')?.dirty || lessonForm.get('level')?.touched)}" ngbTooltip="Enter value between 1 (basics) to 10 (advanced)" placement="top">Level</label>
      <input id="level" type="number" class="col-md-1" formControlName="level" [ngClass]="{'is-invalid': lessonForm.get('level')?.invalid && (lessonForm.get('level')?.dirty || lessonForm.get('level')?.touched)}">
      <div *ngIf="lessonForm.get('level')?.invalid && (lessonForm.get('level')?.dirty || lessonForm.get('level')?.touched)" class="col-md-6 text-danger">
        Level must be between 1 and 10.
      </div>
      <label class="col-md-1" for="prerequisites">Prerequisite</label>
      <input id="prerequisites" type="text" class="col-md-6" formControlName="prerequisites">
    </div>
    <div class="row mt-2">
      <label class="col-md-1" for="tags" ngbTooltip="Enter tags, separated by commas" placement="top">Tags</label>
      <input id="tags" type="text" class="col-md-11" placeholder="Enter tags" formControlName="tags">
    </div>
    <div class="row mt-1">
      <label class="col-md-1" for="license">License</label>
      <input id="license" type="text" class="col-md-5" formControlName="copyright">
    </div>
    <div class="row mt-2">
      <label class="col-md-2"></label>
      <button type="button" class="btn btn-primary col-md-2" (click)="onSubmit()" [disabled]="!lessonForm.valid">Submit</button>
      <span *ngIf="lessonForm.invalid" class="col-md-8 text-danger">Please fill out all required fields.</span>
    </div>
  </form>
</div>
